body{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-weight: 400;
  line-height: 1.3;
  color: #222;
  margin-top: 85px;
}
ul {
  list-style-type: none;
}

.main-cards {
display: flex;
justify-content: center;
grid-column-gap: 25px;
}

.card {
  border: 10px solid;
  padding: 16px;
  padding-top: 1px;
  width: 312px;
  height: 471px;
  position: relative;
}

.card-title{
  font-size: 18px;
  line-height: 24px;
  font-family: "Interstate Plus", "Arial";
  font-weight: 800;
}
button {
  height: 25px;
}

h2 {
  font-weight: 800;
  font-size: 18px;
}

img {
  margin: 0 auto;
    display: block;
    width: 100.7%;
    margin-top: 12px;
}

.card-1, .card-2 {
  background-color: #2baae2;
  border-color: #56bbe8;
  color: white;
}

.card-3 {
  background-color: #fed33b;
    border-color: #fedc62;
    color: black;
}

h2 {
  margin-top: 10px;
  margin-bottom: 5px;
}

.card-1 p {
  margin-top: 10px;
  font-size: 16px;
    line-height: 28px;
    font-weight: 300;
    font-family: "Interstate", "Arial";
}

.card-1 a {
  color: #fff;
}

.learn-button {
    color: #2baae2;
    border: 1px solid #56bbe8;
    font-size: 14px;
    background-color: #ffffff;
    font-size: 14px;
    line-height: 18px;
    font-family: "Interstate", "Arial";
    font-weight: 800;
    position: absolute;
    right: 16px;
    bottom: 15px;
    margin-bottom: 1px;
    margin-top: -7px;
    padding: 5px 34px 23px 35px;
    cursor: pointer;
    background-color: #ffffff;
}

.sponsor-button {
  
  border: 1px solid #56bbe8;
  font-size: 14px;
  background-color: #ffffff;
  font-size: 14px;
  line-height: 18px;
  font-family: "Interstate", "Arial";
  font-weight: 800;
  position: absolute;
  right: 15px;
  bottom: 14px;
  margin-bottom: 1px;
  margin-top: -7px;
  padding: 5px 34px 23px 35px;
  cursor: pointer;
}



.card-2 {
  display: flex;
  flex-direction: column;
  ;
}

.card-2 p{
  margin-top: 5px;
    margin-bottom: 5px;
  font-family: "Interstate", "Arial";
  font-size: 16px;
  line-height: 28px;
  font-weight: 300;
}

.card-2 ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  line-height: 28px;
 padding: 0;
}

.card-2 li{
  text-decoration: underline;
  margin: 0;
  font-size: 16px;
}


.card-2 li a{
  color: #fff;
  margin-top: 10px;
}

.card-3 button {
  border: 2px solid #fbeaa8;
  color: black;
}

.card-3 p {
  font-family: "Interstate", "Arial";
  font-size: 16px;
  line-height: 28px;
  font-weight: 300;
  margin-top: 10px;
  margin-bottom: 5px;
  text-decoration: underline;
}

footer {
  display: flex;
  justify-content: space-around;
  width: 100%;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

footer ul {
  padding: 0;
  display: flex;
  justify-content: space-around;
  margin-top: 13.5px;
  margin-right: 60px;
}

footer p {
  text-transform: uppercase;
  font-size: 14px;
  margin-top: 24px;
  margin-right: 248px;
  
}

.underline {
  text-decoration: underline;
}

ul.sponsors-list li:not(.polar) {
  /* margin-top: 20px */
}
.polar {
  width: 65px;
  height: 50px;
}
.img-sup-container {
  position: relative;
  left: 66px;
  bottom: 17px;
}
.polar img {
  right: 0;
  position: absolute;
  width: 54px;
}
ul.sponsors-list li.verndale {
  margin-left: 58px;
  margin-top: 15px;
  width: 200px;
  height: 51px;
}
.img-sup-container {
  position: relative;
}
.polar img {
  right: 0;
  position: absolute;
}

.verndale {
  margin-left: 58px;
  margin-top: 15px;
  height: 51px;
}
.verndale img {
  top: 12px;
  right: -5px;
  position: absolute;
  width: 110%;
}
.msg {
  margin: 0;
  margin-left: 59px;
  margin-top: -2px
}
.sevenup {
  margin-left: 38px;
} 

.sevenup img {
  margin: 0;
  margin-left: 119%;
    margin-top: 10%;
}




